@(user: Account)

@main("Edit"){
	<div class="container-fluid">
		<div class="col-xs-6 col-xs-offset-3">
			<h3> <span class="glyphicon glyphicon-pencil"> </span> Edit informations </h3>			
			<br />
			<form action="" method="POST">
				<div class="form-group">
					<label> Member's name: </label>
					<input type="text" class="form-control" name="fullname" placeholder="required" value="@user.fullname" required>
				</div>

				<div class="form-group diploma">
					<label> Diploma: </label>
					<input type="text" class="form-control" name="diploma" placeholder="required" value="@user.diploma">
				</div>

				<div class="form-group group">
					<label> Group </label>
					<input type="text" class="form-control" name="group" placeholder="required" value="@user.studyGroup">
				</div>

				<div class="form-group">
					<button class="btn btn-default"> Send </button>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			if($(".group input").val()==""){
				$(".group").hide();
			}
			if($(".diploma input").val()==""){
				$(".diploma").hide();
			}
		})
	</script>
}