@main("Change password"){
	<div class="container-fluid">
		<div class="col-xs-6 col-xs-offset-3" style="margin-top: 20vh">
			<h3> <span class="glyphicon glyphicon-lock"></span> Change password </h3> <br />

			<form role="form" action="" method="POST">
				<div class="form-group">
					<label> Old-password: </label>
					<input type="password" name="old_password" class="form-control" placeholder="required" required>
				</div>

				<div class="form-group">
					<label> New-password: </label>
					<input type="password" name="new_password" class="form-control" placeholder="required" required>
				</div>

				<div class="form-group">
					<label> Re-password: </label>
					<input type="password" name="re_password" class="form-control" placeholder="required" required>
				</div>

				<div class="form-group">
					<button class="btn btn-default"> Send </button>
				</div>
			</form>
		</div>
		
	</div>
}