@(message : String)

@main("Welcome"){

<div class="container-fluid">
	<div class="col-xs-6 col-xs-offset-3" style="margin-top: 20vh">
		@if(message.contains("Sorry")){
			<div>
				<span class="alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> @message</span>
			</div>
			 <br />
		}


		<div class="form-group">
			<h3 class="glyphicon glyphicon-user"> </h3> <br />
		</div>
		<form role="form" action="@routes.Application.checkInfo" method="post">
			<div class="form-group">
				<label> Username </label> <span class="glyphicon glyphicon-eye-open"></span>
				<input type="text" name="username" class="form-control" placeholder="Enter username" required>
			</div>

			<div class="form-group">
				<label> Password </label> <span class="glyphicon glyphicon-lock"></span>
				<input type="password" class="form-control" placeholder="Enter password" name="password" required>
			</div>

			<div class="form-group">
				<button class="btn btn-default"> Send </button>
			</div>
		</form>
	</div>
</div>
}