@(master : Account, accounts : List[Account])

@main("Master management"){

<div class="container-fluid">
	<div class="col-xs-4 col-xs-offset-1" style="margin-top: 30vh">
		<h3><span class="glyphicon glyphicon-user"></span> Personal infos</h3> <br />
		<ul style="list-style: none">
			<li> <span class="glyphicon glyphicon-record"></span> <b> Name: </b> Nguyen Vo Lan Trinh </li>
			<li> <span class="glyphicon glyphicon-record"></span> <b> Role: </b> Master </li>
			<li> <span class="glyphicon glyphicon-record"></span> <b> Username: </b> admin </li>
			<li> <span class="glyphicon glyphicon-record"></span> <b> Description: </b> The one who hold the highest role in the system. </li>
		</ul>
	</div>

	<div class="col-xs-5 col-xs-offset-1">
		<h3> <span class="glyphicon glyphicon-sort-by-attributes"></span> Others </h3>
		<ul style="list-style: none">
			@for(account <- accounts){
				<li> <span class="glyphicon glyphicon-record"></span> <b> @account.fullname </b> - username: @account.username (@account.role) </li>
			}
		</ul>

		<div style="margin-top: 5vh">
			<h3> <span class="glyphicon glyphicon-flash"></span> Action: <small>(new member)</small> </h3>
			<form action="@routes.Application.save()" role="form" method="POST">
				<div class="form-group">
					<label> Member's name: </label>
					<input type="text" class="form-control" name="fullname" placeholder="required" required>
				</div>

				<div class="form-group">
					<label> Username: </label>
					<input type="text" class="form-control" name="username" placeholder="required" required>
				</div>

				<div class="form-group">
					<label> New password: </label>
					<input type="password" class="form-control" name="password" placeholder="required" required>
				</div>

				<div class="form-group">
					<label> Password-again: </label>
					<input type="password" class="form-control" name="re_password" placeholder="required" required>
				</div>

				<div class="form-group">
					<label> Role: </label>
					<select class="form-control role" name="role">
						<option> teacher </option>
						<option> student </option>
					</select>
				</div>

				<div class="form-group diploma">
					<label> Diploma: </label>
					<input type="text" class="form-control" name="diploma" placeholder="required">
				</div>

				<div class="form-group group">
					<label> Group </label>
					<input type="text" class="form-control" name="group" placeholder="required">
				</div>

				<div class="form-group">
					<button class="btn btn-default"> Send </button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".group").hide();

		$(".role").change(function(){
			if($(this).val()=="student"){
				$(".diploma").hide();
				$(".group").show();
			}
			else{
				$(".diploma").show();
				$(".group").hide();
			}
		})
	})
</script>


}