@(teacher : Account)

@main("Teacher management"){
	<div class="container-fluid">
		<div class="col-xs-6 col-xs-offset-3" style="margin-top: 20vh">
			<h3><span class="glyphicon glyphicon-user"></span> Teacher's info</h3> <br />
			<ul style="list-style: none">
				<li> <span class="glyphicon glyphicon-leaf"></span> <b> Name: </b> @teacher.fullname </li>
				<li> <span class="glyphicon glyphicon-leaf"></span> <b> Role: </b> @teacher.role </li>
				<li> <span class="glyphicon glyphicon-leaf"></span> <b> Username: </b> @teacher.username </li>
				<li> <span class="glyphicon glyphicon-leaf"></span> <b> Diploma: </b> @teacher.diploma </li>
				<li> <span class="glyphicon glyphicon-leaf"></span> <b> Description: </b> The one who responsible for teaching students in the University </li>
			</ul>
			<br />
			<a href="@routes.Application.edit()"> <span class="glyphicon glyphicon-pencil"></span> Edit infomation </a> <br />
			<a href="@routes.Application.editPass()"> <span class="glyphicon glyphicon-lock"> </span> Change password </a>
		</div>
	</div>
}